*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.main{
	height: 100vh;
	padding: 0px 10%;
}
.navbar{
	height: 10vh;
	align-content: center;
	display: grid;
	grid-template-columns: 8% 60% 30%;
	grid-gap: 1%;
}
.logo{
	font-size: 25px;
	font-weight: bold;
}
.box{
	width: 100%;
	height: 5vh;
	box-shadow: 1px 1px 4px;
	align-content: center;
	display: flex;
	border-radius: 10px;
}
#location{
	font-size: 15px;
	color: red;
	align-content: center;
	margin-left: 2%;
}
.box select{
	width: 30%;
	font-size: 15px;
	border: none;
}
.line{
	margin-left: 1%;
	width: .3%;
	height: 3vh;
	margin-top: 1vh;
	background-color: black;
}
#search{
	align-content: center;
	margin-left: 2%;
}
.box input{
	width: 50%;
	margin-left: 2%;
	border: none;
}
.box input:enabled{
	outline: none;
}
.box input::placeholder{
	font-size: 15px;
}
.login{
	height: 5vh;
	align-content: center;
	font-size: 20px;
}
.login ul{
	list-style-type: none;
	display: flex;
	float: right;
}
#login_li{
	margin-right: 90px;
}
.nav1 p{
	font-size: 12px;
	margin-top: 10px;
}
.nav1 span{
	color: rgba(0, 0, 0, .3);
}
.nav3{
	margin-top: 30px;
	height: 5vh;
	display: flex;
}
.box1,.box2,.box3,.box4{
	width: 80px;
	height: 5vh;
	align-content: center;
	font-size: 15px;
	border: 1px solid;
	border-radius: 10px;
	margin-right: 20px;
	padding: 7px
}
.num1{
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 3px;
	align-content: center;
}
.num1 span{
	margin-left: 5px;
	color: white;
}
.num1 p{
	display: inline;
	margin-left: 10px;
	font-size: 15px;
}
.box2{
	background-color: red;
	color: white;
}
.box4{
	padding-left: 0px;
	font-size: 15px;
}
.box4 select{
	border: none;
}
.main h2{
	margin-top: 20px;
}
.food_images{
	height: 100vh;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}
.image_box{
	width: 31%;
	height: 40vh;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.image_1{
	width: 100%;
	height: 80%;
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}
.image_1 p{
	background-color: blue;
	margin-top: 190px;
	display: inline-block;
	color: white;
	padding: 5px;
	font-size: 12px;
}
.image_1_name{
	width: 100%;
	height: 22%;
	margin-top: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: grid;
	grid-template-columns: 50% 50%;
}
.image_1_name span{
	margin-top: 10px;
	font-weight: bold;
}
.rate{
	width: 30%;
	height: 50%;
	border: 1px solid blue;
	margin-top: 10px;
	margin-left: auto;
	border-radius: 5px;
	color: blue;
	font-size: 13px;
	align-content: center;
	padding: 0px 8px;
}